/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor

.env
.env.*
!.env.example

database/database.sqlite
passwords.txt

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/.idea
/.vscode
.DS_Store
Thumbs.db
*.sql

Acesso*.txt

.phpunit.result.cache

/Pontoweb/

/PontoWebAgent/
